# Number of backend replicas
replicaCount: 1

# -----------------------------
# Logging
# -----------------------------
logging:
  level: warn
  moduleLevels: {}

# -----------------------------
# Rustcost Backend (Axum)
# -----------------------------
image:
  repository: kimc1992/rustcost-core
  tag: "0.0.1-prototype"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources: {}

# Example:
# resources:
#   requests:
#     cpu: "100m"
#     memory: "128Mi"
#   limits:
#     cpu: "500m"
#     memory: "512Mi"

# -----------------------------
# PostgreSQL (optional)
# -----------------------------
postgresql:
  enabled: true
  image: postgres:17
  username: rustcost
  password: rustcostpassword
  database: rustcost
  persistence:
    enabled: true
    size: 1Gi
  runMigrations: true # run job-migrations.yaml if enabled

# -----------------------------
# Frontend (React, optional)
# -----------------------------
frontend:
  enabled: true
  image:
    repository: kimc1992/rustcost-dashboard
    tag: "0.0.1-prototype"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80
    targetPort: 8080
  env:
    VITE_BACKEND_URL: "http://rustcost:80" # Currently statically set when image is built

# -----------------------------
# Node Exporter
# -----------------------------
nodeExporter:
  enabled: false
  image: quay.io/prometheus/node-exporter:v1.8.1
  port: 9100

# -----------------------------
# cAdvisor
# -----------------------------
cadvisor:
  enabled: false
  image: gcr.io/cadvisor/cadvisor:v0.49.2
  port: 8080

# -----------------------------
# Ingress (optional)
# -----------------------------
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: rustcost.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

rbac:
  create: true
  serviceAccount:
    create: true
    name: ""
